.contacts-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.search-bar {
    margin-bottom: 20px;
    width: 30%;
}

    .search-bar input {
        width: 100%;
        padding: 10px;
        border: 1px solid #201c4f;
        border-radius: 5px;
        font-size: 16px;
        color: #201c4f;
    }

.contacts-list {
    display: flex;
    flex-direction: column;
    color:#201c4f;
    width: 100%;
}

.contact-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

    .contact-item:hover {
        background-color: #f1f1f1;
    }

.contact-info {
    display: flex;
    color: #201c4f;
    align-items: center;
}

.contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.delete-contact,
.add-contact {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

    .delete-contact:hover,
    .add-contact:hover {
        transform: scale(1.1);
    }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal h2 {
    margin: 0 0 15px;
    font-size: 18px;
    color: #201c4f;
}

.modal p {
    margin: 0 0 20px;
    font-size: 14px;
    color: #201c4f;
}

.modal button {
    background-color: #f5500;
    color: #201c4f;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .modal button:hover {
        background-color: #201c4f;
        color:antiquewhite;
    }

.close-modal {
    background: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}