/* Layout base styling */
.app-layout {
    display: flex;
    min-height: 100vh;
    background-color: #141414;
}

/* Sidebar styling */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.7); /* Black with transparency */
    transition: all 0.3s ease-in-out;
    position: fixed;
    height: 100vh;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.4);
}

.logo-img {
    width: 50px;
    margin-bottom: 25%;
    margin-left: 34%;
    transition: transform 0.3s;
}

    .logo-img:hover {
        transform: scale(1.1);
    }

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.sidebar-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

    .sidebar-avatar:hover {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

.separator {
    width: 50%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 15px 0;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-item {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .menu-item img {
        width: 30px;
        filter: invert(100%); /* White icons */
    }

    .menu-item:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transform: scale(1.1);
        border-radius: 8px;
    }


.menu-spacer {
    flex-grow: 1; 
}


.logout img {
    filter: invert(100%);
}

.animated-layout {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.animated-sidebar {
    animation: slideIn 0.5s ease-in-out forwards;
    opacity: 0;
}

.animated-content {
    flex: 1;
    margin-left: 80px;
    opacity: 0;
    animation: fadeIn 0.7s forwards 0.3s;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
