.app-layout {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #1a1a1a;
    overflow: hidden; /* Убираем прокрутку */
}

.navbar {
    background-color: #141226;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем элементы */
    color: white;
    padding: 20px;
    height: 100%;
    justify-content: space-between; /* Для кнопки "Settings" внизу */
}

.logo {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center; /* Центрируем логотип */
}

.logo-img {
    width: 50px;
    height: auto;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-avatar {
    width: 50px; /* Установите нужный размер */
    height: 50px; /* Установите нужный размер */
    border-radius: 50%; /* Оставим округление */
    margin-bottom: 10px; /* Оставим отступ */
}

.separator {
    border: 1px solid white;
    width: 80%;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем меню */
    width: 100%;
    flex-grow: 1; /* Это поможет отодвинуть кнопки вниз */
}

.menu-item {
    background-color: transparent;
    color: white;
    border: none;
    padding: 25px;
    text-align: center; /* Центрируем текст */
    width: 100%;
    cursor: pointer;
}

    .menu-item img {
        width: 35px; /* Размер иконок */
        height: 35px; /* Размер иконок */
    }

    .menu-item a {
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center; /* Центрируем иконки внутри кнопок */
    }

.menu-spacer {
    flex-grow: 1; /* Для отступа между элементами меню */
}

.logout {
    margin-top: auto; /* Кнопка в самом низу */
    background-color: transparent;
    color: white;
    border: none;
    padding: 15px;
    text-align: center; /* Центрируем текст */
    width: 100%; /* Устанавливаем ширину 100%, как у других элементов */
    cursor: pointer;
    display: flex; /* Делаем её флекс-контейнером */
    justify-content: center; /* Центрируем иконку по горизонтали */
    align-items: center; /* Центрируем иконку по вертикали */
}


.content {
    flex: 1;
    background-color: #f4f4f9;
    overflow-y: auto;
}
