html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}

.login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.info-section {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    color: black;
}

.logo {
    width: 150px;
    margin-bottom: -40px;
}

.info-title {
    font-size: 2.5rem;
    color: black;
}

.panel {
    width: 50%;
    padding: 50px;
    background: rgba(0, 0, 0, 0.7);
    color: white; /* Ensure default text color in panel is white */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
    transition: all 0.7s ease;
}

    .panel h1, .panel h2, .panel h3, .panel p, .panel a {
        color: white !important;
    }

.slide-in {
    animation: slideIn 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

.slide-out {
    animation: slideOut 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }

    75% {
        transform: translateX(-5%);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%);
        opacity: 0;
    }
}

.switch-form {
    margin-top: 20px;
    color: #ccc;
}

    .switch-form a {
        color: white;
    }
.panel label,
.panel .ant-checkbox-wrapper,
.panel .ant-form-item-label > label,
.panel p,
.panel .ant-typography {
    color: white !important;
}

.panel h1, .panel h2, .panel h3, .panel p, .panel a {
    color: white !important;
}

    .panel input[type="text"]:focus,
    .panel input[type="password"]:focus,
    .panel input[type="email"]:focus {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        border-color: white;
        outline: none;
    }

