.overlay-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    max-width: 720px;
    background: #121212; /* Тёмный фон по умолчанию */
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    z-index: 9999;
    animation: slide-in 0.3s ease-out;
    overflow: hidden;
}

.settings-background {
    background: #ffffff; /* Белый фон для настроек */
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.overlay-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    color: #000000; /* Чёрный текст для белого фона */
}

.overlay-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    color: #000000; /* Чёрный крестик для белого фона */
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

    .overlay-close:hover {
        transform: scale(1.2);
        color: #ff4d4f; /* Красный цвет при наведении */
    }

    .overlay-close:focus {
        outline: none;
    }

@media (max-width: 768px) {
    .overlay-container {
        width: 100%; /* Для мобильных устройств окно занимает всю ширину */
    }
}
