.avatar-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar-popup {
    margin-left: 10px;
}

.default-avatars img {
    width: 50px; /* Adjust size */
    height: 50px; /* Adjust size */
    cursor: pointer;
    margin: 5px;
    transition: transform 0.3s;
}

    .default-avatars img:hover {
        transform: scale(1.1);
    }

.field-section {
    margin: 20px 0;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}
